<div *ngIf="artist">
    <div class="jumbotron">
        <div class="row" [ngStyle]="{ 'margin-bottom': '20px'}">
            <div class="col-md-5">
                <div *ngIf="artist.images.length > 0">
                    <img class="img-circle" src="{{artist.images[0].url}}" height="400">
                </div>
                <div *ngIf="artist.images.length == 0">
                    <div class="card card-outline-primary mb-3 text-center">
                        <div class="card-block">
                            No image from Spotify
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <h2 class="artist-title">{{artist.name}}</h2>
                </div>
                <div *ngIf="artist.genres.length > 0" class="row">
                    <h4>Genres:</h4>
                </div>
                <ul *ngIf="artist.genres.length > 0" class="row">
                    <li class="col-md-4" *ngFor="let genre of artist.genres">
                        {{genre}}
                    </li>
                </ul>
                <div class="row alert alert-info" role="alert">
                    Popularity: &nbsp;<strong>{{ artist.popularity }}</strong>
                </div>
                <div class="row alert alert-success" role="alert">
                    Followers: &nbsp;<strong>{{ artist.followers.total }}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron" *ngIf="album">
        <div class="row">
            <div *ngIf="album.images.length > 0" class="col-md-2">
                <img class="img-circle" src="{{album.images[0].url}}" height="100">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-11">
                        <h3>{{ album.name }}</h3>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary btn-sm" (click)="album = null">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Close
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Records: {{ album.label }}</h5>
                    </div>
                    <div class="col-md-2">
                        <p>Popularity: {{ album.popularity }}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Release date: {{ album.release_date }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" *ngFor="let track of album.tracks; let i = index;" [ngClass]="{ 'track-fix': (track.name.length > 38)}">
                    <!--For first disc-->
                    <div *ngIf="i == 0" class="col-md-12" [ngStyle]="{ 'margin-bottom': '10px' }">
                        <label class="">
                            Disc:
                            <b>{{ track.disc_number }}</b>
                        </label>
                    </div>
                    <!--For later on-->
                    <div *ngIf="i > 0">
                        <div *ngIf="album.tracks[i].disc_number != album.tracks[i - 1].disc_number" class="col-md-12">
                            <hr>
                            <label class="">
                                Disc:
                                <b>{{ track.disc_number }}</b>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 display-inline-block">
                        <b>{{ track.track_number }}</b> - {{ track.name }}
                    </div>
                    <div class="col-md-1 display-inline-block">
                        <b>Preview:</b>
                    </div>
                    <div class="col-md-4 display-inline-block">
                        <audio controls>
                        <source src="{{track.preview_url}}">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="col-md-2 display-inline-block">
                        <b>Duration:</b> {{getTrackTime(track.duration_ms)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" *ngFor="let album of albums" [ngStyle]="{ 'display': 'inline-block', 'margin-bottom': '15px' }">
        <div class="card" style="width: 20rem;">
            <img *ngIf="album.images.length > 0" class="img-thumbnail" src="{{album.images[0].url}}" alt="{{album.name}}">
            <div class="card-block">
                <h4 class="center-align-text" [ngStyle]="{ 'height': '50px' }">{{album.name}}</h4>
                <div class="row">
                    <button (click)="getAlbum(album)" class="center-align-button btn btn-info clickable">
                    Album details
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
