.thumbnail {
    height: 450px !important;
}

img {
    height: 220px;
    margin: 10px auto 0px auto;
    line-height: 220px;
    text-align: center;
}

.img-thumbnail {
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.view-info {
    border: 2px solid #717277;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    background: #cecece
}

.alert {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 5px;
}

.view-info>div:first-child {
    margin-top: 0px !important;
}

.view-row {
    margin-top: 10px;
    margin-bottom: 5px;
}

.view-row>button {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
