<form class="row" (ngSubmit)="searchMusic()" [formGroup]="searchForm">
    <div class="col-md-4">
        <div class="form-group">
            <div class="input-group">
                <input formControlName="searchParam" type="text" class="form-control" placeholder="Search by artist...">
                <span class="input-group-btn">
                <button class="btn btn-primary" (click)="searchMusic()" type="button">Search!</button>
            </span>
            </div>
        </div>
    </div>
</form>
<div class="row" *ngIf="searchRes">
    <div *ngFor="let res of searchRes" class="col-md-4">
        <div class="img-thumbnail container">
            <img class="img-circle" *ngIf="res.images[0]" src="{{res.images[0].url}}" alt="{{res.name}}">
            <div *ngIf="!res.images[0]" [ngStyle]="{ 'margin-top': '10px'}">
                <img class="img-circle" alt="{{res.name}}">
            </div>
            <div class="caption">
                <h4>
                    <a class="clickable" (click)="openView(res)">{{res.name}}</a>
                </h4>

                <div class="row view-info">
                    <div class="alert alert-success" role="alert">
                        Popularity: <strong>{{res.popularity}}</strong>
                    </div>
                    <div class="alert alert-info" role="alert">
                        Followers: <strong>{{res.followers.total}}</strong>
                    </div>
                    <div *ngIf="res.genres[0]" class="alert alert-warning" role="alert">
                        Genre: <strong>{{res.genres[0]}}</strong>
                    </div>
                    <div *ngIf="!res.genres[0]" class="alert alert-warning" role="alert">
                        Genre: <strong>Undefined by Spotify</strong>
                    </div>
                </div>

                <div class="row view-row">
                    <button type="button" class="btn btn-success" (click)="openView(res)">View</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!searchRes && searchForm.get('searchParam').touched">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">No artist found. Check search params.</div>
    </div>
</div>
