/* You can add global styles to this file, and also import other style files */

.clickable {
    cursor: pointer;
}

body {
    background: #eff6f9;
}


/*Doesn't work by default?*/

.img-circle {
    border-radius: 50%;
}


/*END img-circle*/

.center-align-button {
    margin-left: auto;
    margin-right: auto;
}

.center-align-text {
    text-align: center;
}

.display-inline-block {
    display: inline-block;
}
